<!DOCTYPE html>
<!-- Add a11y tags!  -->
<html>
  <head>
    <title>Random Lunch App v0.0.1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
   <!--  TODO: need to fix this
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  </head>
  <body>
      <div class ="container">
        <!--Child-->
            {% block content %}{% endblock %}<p></p>
        <!--Errors-->
            {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}
            {% endif %}
        <!--Messages-->
            {% for message in get_flashed_messages() %}
                {{ message }}
            {% endfor %}
        </div>
        <!--TODO LIST:
        a11y/aria tags
        favicon
        data change warnings
        data display options
        nonsense/bad type on client side checks
        verification on server side
        GDPR comply notes
        -->
    </body>
</html>