{% extends "base.html" %}
{% block content %}
<p>Click <a href = '/logout'>here</a> to logout.</p>
    
<h2>{{place}}</h2>
<h2>Update {{spot.place}}</h2>
  <!-- TODO Add a warning for data change -->
  <form method="POST" action="./update">
  Name:  <input type="hidden" value="{{spot.place}}" name="oldname">
    <input type="text" value="{{spot.place}}" name="newname">
  <br>
    <input type="hidden" value="{{spot.address}}" name="oldaddress">
    <input type="text" value="{{spot.address}}" name="newaddress">
  <br>
    <input type="hidden" value="{{spot.phone}}" name="oldphone">
    <input type="text" value="{{spot.phone}}" name="newphone">
  <br>
    <input type="hidden" value="{{spot.visit}}" name="oldvisit">
    <input type="text" value="{{spot.visit}}" name="newvisit">
  <br>
    <input type="hidden" value="{{spot.queue}}" name="oldqueue">
    <input type="text" value="{{spot.queue}}" name="newqueue">
  <br>
    <input type="hidden" value="{{spot.rating}}" name="oldrating">
    <input type="text" value="{{spot.rating}}" name="newrating">
  <input type="submit" value="Update"> 
{% endblock %}