{% extends "base.html" %}
{% block content %}
<p>Click <a href = '/logout'>here</a> to logout.</p>
    
      <p><div class="card">
      <h2>{{spot.place}}</h2>
      <button id="myBtn">Update or delete {{spot.place}}</button>
      
      </div></p>
      <form method="POST" action="./update">
        <input type="hidden" value="{{spot.place}}" name="oldname">
        <input type="text" value="{{spot.place}}" name="newname">
        <input type="submit" value="Update">
      </form>
      <form method="POST" action="./delete">
        <input type="hidden" value="{{spot.place}}" name="place">
        <input type="submit" value="Delete">
      </form>
    {% endfor %}
    {% endblock %}