<html>
  <head>
      <link rel="stylesheet" href="{{ url_for( 'static', filename='styles/style.css') }}">
      <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    
    <h1>Add a new Spot!</h1>
    <form method="POST" action="/">
      <input type="text" name="venue">
      <input type="submit" value="Add">
    </form>

    <h3>Visited Spots</h3>
    {% for spot in spots %}
      <p>{{spot.place}}</p><br>
      <form method="POST" action="./update">
        <input type="hidden" value="{{spot.place}}" name="oldname">
        <input type="text" value="{{spot.place}}" name="newname">
        <input type="submit" value="Update">
      </form>
      <form method="POST" action="./delete">
        <input type="hidden" value="{{spot.place}}" name="place">
        <input type="submit" value="Delete">
    {% endfor %}
  </body>
</html>