#map {
  height: 100%;
}

form { 
  display: inline;
}

h2 {
   color: #4CAF50;
}


/* card layout */
.card {
  background-color: #f4f4f4;
  border: 1px solid #4CAF50;
  width: 60%;
  height: auto;
  position: relative;
  padding-bottom: 12px;
  display: table;
}

.card h2 {
  color: #4CAF50;
  margin: 12px;
}

.card h2, .card  {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.col {
  display: table-cell;
  width: 33.33%;
}